body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif; /* Utilisation de la police Arial */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-logos img {
    max-height: 50px;
}

.right-logo img {
    max-height: 50px;
}

.navigation-menu {
    margin-top: 10px;
}

nav {
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around; /* Les éléments occupent toute la largeur et sont espacés équitablement */
}

nav ul li {
    flex: 1;
    text-align: center;
    position: relative; /* Position relative pour les éléments contenant un élément positionné absolument */
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: block;
    padding: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    width: 100%; /* La largeur du menu déroulant est égale à la largeur de l'élément parent */
    left: 0;
    top: 100%; /* Le menu déroulant apparaît en dessous de l'élément parent */
}

.dropdown:hover .dropdown-content {
    display: block;
}
