body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2 {
    color: #333;
}

.bloc-vide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f5f5f5;
}

.contenu-bloc {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.explication {
    width: 45%;
}

table {
    width: 100%;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.entete-special,
th.entete-special {
    font-weight: bold;
    background-color: #e0e0e0;
}

@media (max-width: 600px) {
    .contenu-bloc {
        flex-direction: column;
        align-items: center;
    }

    .explication, table {
        width: 100%;
        margin: 0;
    }
}

.competence-details {
    flex-basis: 45%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.competence-details h2 {
    margin-bottom: 10px;
}

.resources-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.resource-item {
    flex-basis: 30%;
    border: 1px solid #ccc;
    min-height: 60px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 20px;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.gauche /*direction de gauche à droite : rajouté*/
{
    flex-direction: row;
}
.droite /*direction de droite à gauche : rajouté*/
{
    flex-direction: row-reverse;
}
.competence-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/*image largeur 30% : rajouté*/
.image-block{
    width: 30%;
}